<app-login-layout title="Logar" description="Entre com suas credenciais" primaryButton="Entrar" secondaryButton="Cadastre-se" (emitirSubmit)="submit()" (emitirNavigate)="navigate()">
  <form [formGroup]="loginForm">
    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Ex. mikaelbernardes2022@gmail.com" formControlName="login">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <button class="btn-pass" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
</app-login-layout>
